* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --font-family: "Roboto", sans-serif;
  --color-black: #262626;
  --color-gray-light: #e4e3e3;
  --color-gray: #aaa6a6;
  --color-gray-dark: #767474;
  --color-pink: #de83cd;
  --color-navy-dark: #313052;
  --color-white: #fefafa;
  --color-text: #2e2424;

  --primary-gradient: linear-gradient(45deg, #c8f2c3, #a8dbfa, #635ee2);
  --secondary-gradient: linear-gradient(45deg, #c8f2c3, #faa8ea, #635ee2);

  --background-image-black: var(--color-black)
    url("https://www.transparenttextures.com/patterns/stardust.png");
  --background-image-navy: url("https://www.transparenttextures.com/patterns/stardust.png"),
    linear-gradient(111.4deg, rgba(7, 7, 9, 1) 6.5%, rgba(27, 24, 113, 1) 93.2%);
  --background-image-purple: url("https://www.transparenttextures.com/patterns/stardust.png"),
    linear-gradient(
      111.4deg,
      rgba(4, 0, 4, 1) 6.5%,
      rgba(100, 43, 115, 1) 93.2% 93.2%
    );
}

.layout {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: var(--font-family);
  // background-image: url("https://www.transparenttextures.com/patterns/inspiration-geometry.png");
  background: var(--background-image-black);

  color: var(--color-text);
  overscroll-behavior-x: none;
  overscroll-behavior-y: none;
}

body ::selection {
  color: var(--color-gray-light);
  background: #000;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  line-height: 1.3;
  font-weight: 300;
}

li {
  list-style-type: none;
  line-height: 1.4;
}

input {
  outline: none;
}

.btn:hover,
.span:hover {
  transition: 0.2s ease-in-out;
}

.btn {
  background-color: transparent;
  background-image: var(--primary-gradient);
  color: transparent;
  border: 1px solid var(--color-gray-dark);
  border-radius: 5px;
  width: 86px;
  height: 30px;
  font-size: 15px;
  background-clip: text;
  -webkit-background-clip: text; /* For Safari */

  &:hover {
    background-image: var(--secondary-gradient);
    transition: 0.2s ease-in-out;
  }
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.center {
  text-align: center;
}

.container {
  padding: 0 2rem;
}

.title a {
  color: #0770e8;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.gradient-text {
  background: -webkit-linear-gradient(45deg, #c8f2c3, #a8dbfa, #635ee2);
  background-clip: text;
  -webkit-text-fill-color: transparent;

  &:hover {
    background-image: var(--secondary-gradient);
  }
}

.cursive-text {
  font-family: "Shadows Into Light", cursive;
}

/* card */
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  margin: 20px 0;
  text-align: center;

  img {
    max-width: 400px;
    height: 260px;
    opacity: 0.8;

    &:hover {
      opacity: 1;
      transition: 0.2s ease-in-out;
    }
  }

  .card-text {
    width: 400px;
    height: 90px;
  }

  .card-project-name {
    margin: 10px 0 5px;
  }

  .card-project-tech {
    font-size: 0.9rem;
    font-weight: 500;
    margin: 0;
  }

  .custom-button {
    margin: 0;
  }
}

/* navbar */

nav {
  width: 100%;
  height: 70px;
  cursor: pointer;
  color: var(--color-gray-light);

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 26px 14px;
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    letter-spacing: 3px;
  }
}

.nav-links {
  display: flex;
  flex-direction: row;
}

.nav-links p {
  font-size: 13px;
  color: var(--color-gray-light);
  font-weight: 500;
  margin: 0 30px;

  &:hover {
    background-image: var(--secondary-gradient);
    background-color: transparent;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text; /* For Safari */
  }
}

.nav-item {
  // -webkit-text-stroke: 1px var(--color-gray-dark);
  font-weight: 900;
  font-size: 23px;

  &:hover {
    background-image: var(--secondary-gradient);
    background-color: transparent;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text; /* For Safari */
  }
}

.nav-left {
  top: 26px;
  left: 26px;
}

.nav-right {
  right: 26px;
}

.nav-menu {
  display: none;
  position: relative;
}

.nav-menu-mobile {
  position: absolute;
  top: 1.5rem;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: right;
  flex-direction: column;
  text-align: center;
  background-color: var(--color-black);
  width: 100vw;
  height: 100vh;
  margin-right: -50%;
  padding: 20px;
  font-size: 14px;
  opacity: 0.9;
  align-items: center;
}

.nav-menu-mobile p {
  margin: 0 0 50%;
  font-weight: 500;
  color: var(--color-white);

  &:hover {
    color: var(--color-pink);
  }
}

/* home - main */

.home {
  padding: 5rem 0;
  color: var(--color-white);
}

.main {
  display: flex;
  justify-content: center;
  padding: 175px 0;
  margin: 30px 0;
}

.profile-image {
  padding: 2px;
  border-radius: 50%;
  cursor: pointer;
  opacity: 80%;

  &:hover {
    transition: 0.1.5s ease-in-out;
    opacity: 100%;
  }
}

.main-content {
  margin-left: 40px;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 30px;
  font-weight: 600;
  line-height: 38px;

  .cursive-text {
    font-size: 44px;
  }
}

/* home - responsive icons */

.hue_shift {
  animation: hue-shift 5s infinite alternate;
}

.responsive_icon {
  position: absolute;
  font-size: 34px;

  @media screen and (max-width: 799px) {
    font-size: 25px;
  }
}

.fa-code-branch {
  top: 190px;
  left: 230px;
  animation: rotate 2s infinite alternate;
  color: #ffbcbc;
}

.fa-cog {
  top: 390px;
  left: 120px;
  animation: rotate 2.5s infinite alternate;
  color: #7dedff;
}

.fa-star {
  top: 210px;
  right: 350px;
  animation: rotate 2s infinite alternate;
  color: #b3e283;
}

.fa-wrench {
  top: 400px;
  right: 220px;
  animation: move-up 2s infinite alternate;
  color: #d9dd6b;
}

.fa-code {
  top: 280px;
  right: 90px;
  animation: move-down 2s infinite alternate;
  color: #c490e4;
}

/* animation */

@keyframes move-up {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(2rem);
  }
}

@keyframes move-down {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-2rem);
  }
}

@keyframes rotate {
  from {
    transform: rotate(-45deg);
  }
  to {
    transform: rotate(90deg);
  }
}

@keyframes hue-shift {
  from {
    filter: hue-rotate(0);
  }
  to {
    filter: hue-rotate(365deg);
  }
}

/* section title */

.section-title-container {
  padding: 30px 0 0;
}

.section-title {
  color: var(--color-gray);
  text-align: center;
}

/* home - project */
.home-project {
  padding: 30px 0;
  color: var(--color-gray-light);
}

.home-project-container {
  padding: 40px 0;
  margin: 0 90px;
}

.home-project-intro {
  text-align: center;
  margin-bottom: 5%;
}

.project-btns Button {
  margin: 10px;
}

.hidden {
  opacity: 0;
  transform: translateY(5rem);
}

.center {
  margin: 30px 0 50px;
  text-align: center;
}

/* home - skills */
.skills {
  background-color: var(--color-white);
  padding-bottom: 20px;
}

.skills-container {
  margin: 140px 50px;

  ul {
    display: flex;
    justify-content: space-between;

    li {
      font-size: 42px;
      text-align: center;

      p {
        font-size: 13px;
        color: var(--color-black);
        margin-top: 0;
        font-weight: 400;
      }
    }

    .typescript,
    .sass {
      margin-bottom: 2px;
    }
  }
}

/*home - devlog & lab */
.home-devlog-lab {
  display: flex;
  flex-wrap: wrap;
}

.home-devlog-container,
.home-lab-container {
  text-align: center;
  padding: 120px 0 70px;
  color: var(--color-gray-light);

  h1 {
    font-family: "Shadows Into Light", cursive;
    font-size: 50px;
    padding: 50px 0 0;
  }
}

/* home - devlog */
.home-devlog {
  padding: 30px 0 100px;
  background: var(--background-image-navy);
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  flex-basis: calc(50%);
}

.center {
  margin: 30px 0 50px;
  text-align: center;
}

/* home - lab */
.home-lab {
  padding: 30px 0 100px;
  flex-basis: calc(50%);
  background: var(--background-image-purple);
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}

.center {
  margin: 30px 0 50px;
  text-align: center;
}

/* fixed icons */
.fixed-item {
  position: fixed;
  top: 86vh;
  right: 30px;
  width: 30px;
  height: 100px;

  button {
    color: var(--color-gray-light);
    border: none;
    background-color: inherit;
    margin: 5px;

    &:hover {
      color: var(--color-gray);
      border-radius: 50%;
    }
  }
}

.fixed-icon {
  font-size: 25px;
}

/* about page */

.about {
  color: var(--color-white);
  padding: 100px 0;
}

.about-container {
  padding: 0 0 80px;
  margin: 0 90px;

  .cursive-text {
    padding: 0 0 10px;
    font-size: 50px;
    font-family: "Shadows Into Light", cursive;
  }

  .Memoji {
    width: 50px;
    height: 50px;
  }

  h3 {
    padding: 40px 0 10px;
  }

  p {
    font-size: 19px;
    font-weight: 200;
  }
  span {
    font-weight: 500;
  }
}

/* work page */

.work {
  color: var(--color-gray-light);
}

.work-container {
  position: relative;
  padding: 80px 0;
}

.project-container {
  display: flex;
  justify-content: left;
  margin: 20px 90px 130px 90px;
}

.project-image-container {
  picture {
    border-radius: 10px;
  }

  img {
    width: 460px;
  }
}

.project-content-container {
  width: 50%;
  margin-left: 40px;

  .project-technologies {
    font-weight: 400;
    font-size: 0.9rem;
  }

  Button {
    margin: 10px 3px 12px;
  }
}

.project-name {
  font-size: 22px;
  font-weight: 400;
  color: #8887ab;
  margin-bottom: 5px;
}

.project-subname {
  margin: 0 0 10px;
  font-size: 0.9rem;
}

/* devlog page */

.devlog {
  padding: 30px 0;
  color: var(--color-white);
  background: var(--background-image-navy);
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}

.devlog-container {
  padding: 0 0 80px;
  margin: 0 90px;
}

.devlog-box {
  border-left: 3px solid var(--color-gray);
  margin-bottom: 30px;
  line-height: 17px;
}

.devlog-textbox {
  padding: 10px 20px;
}

.month {
  font-size: 0.8rem;
  color: var(--color-gray);
}

.devlog-box-sub {
  color: var(--color-gray);
}

.devlog-box-tech {
  font-size: 0.8rem;
  color: var(--color-pink);
}

.devlog-box-tech::after {
  content: " ";
  border: 1px solid #f5e3e3;
  margin: 20px 0;
  display: block;
  max-width: 10px;
}

.related-link {
  font-size: 0.8rem;
  color: var(--color-gray-light);
  cursor: pointer;

  a {
    color: var(--color-gray-dark);
  }
  :hover {
    color: var(--color-pink);
    transition: 0.15s ease-in-out;
  }
}

.search-bar-container {
  display: flex;
  justify-content: center;
  margin: 60px 0;

  button {
    margin-left: 5px;
  }
}

.search-bar {
  width: 300px;
  height: 30px;
  background-color: #f4f4f4;
  border: none;
}

.btn-search {
  border: none;
  border-radius: 5px;
  width: 40px;
  height: 30px;
  font-size: 0.9rem;
}

/* lab page */

.lab {
  padding: 25vh 0;
  color: var(--color-gray-light);
  background: var(--background-image-purple);
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}

.lab-container {
  padding: 80px 0 100px;
  margin: 0 80px;
  text-align: center;
}

/* footer */

footer {
  height: 220px;
}

footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.footer-container {
  text-align: center;
  font-size: 0.9rem;
  color: #fff;
  padding-top: 20px;
}

.footer-message {
  font-size: 1rem;
}

.contact-items {
  display: flex;
  justify-content: center;
  padding: 0;
}

.contact-item {
  width: 40px;
  height: 40px;
  margin: 11px;
  display: flex;
  justify-content: center;

  &:hover {
    transition: 0.2s ease-in-out;
    color: var(--color-gray);
  }
}

.socialmedia {
  font-size: 24px;
  margin: 12px;
}

.mail {
  font-size: 21px;
  margin: 14px;
}

.copyright {
  font-size: 0.9rem;
  color: var(--color-gray-dark);
}

/* responsive */

@media screen and (max-width: 1023px) {
  body {
    overscroll-behavior-x: none;
  }
  /* navbar */
  .nav-links {
    display: none;
  }
  .nav-menu {
    display: flex;
  }

  .layout {
    width: 100vw;
  }

  .main {
    display: grid;
    grid-template-columns: 1fr;
    padding: 40px auto;
    margin: 20px 0;
  }

  .main-image {
    justify-self: center;
    margin-bottom: 2.5rem;
  }

  .main-content {
    font-size: 1.9rem;
    margin: 0;
    text-align: center;
    line-height: 2.2rem;
  }

  .home-devlog,
  .home-lab {
    flex-basis: 100%;
  }

  .project-content-container {
    width: 100%;
    margin: 5px 15px 100px;
    padding: 0 3%;
  }

  .project-technologies,
  .project-name,
  .project-subname,
  .project-btn {
    text-align: center;
  }

  .project-btn {
    margin: 20px 0 30px;
  }

  .project-container {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
  }

  .project-name {
    margin: 0 0 5px;
    padding-top: 0;
  }

  .project-image-container {
    display: grid;
    grid-template-columns: 1fr;
    width: 95%;
    margin: 12px;

    img {
      width: 100vw;
      padding: 10px;
    }
  }

  .project-image-container {
    margin: 0;
  }

  .devlog-container {
    margin: 0 20px;
  }

  .work-container {
    padding: 0;
  }

  .lab-container {
    padding: 0;
  }

  .footer-message {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 2.1rem;
    padding: 50px 0 0;
  }

  p {
    line-height: 1.3rem;
  }

  .nav-right {
    display: none;
  }

  nav ul {
    display: flex;
    justify-content: space-between;
    padding: 14px;
  }

  .button {
    font-size: 0.9rem;
    width: 90px;
  }

  .main {
    display: grid;
    grid-template-columns: 1fr;
    padding: 40px 50%;
    margin: 20px 0;
  }

  .main-image {
    justify-self: center;
    margin-bottom: 40px;
  }

  .profile-image {
    width: 140px;
    height: 140px;
  }

  .main-content {
    font-size: 1.8rem;
    line-height: 2.05rem;
    width: 100vw;
    padding-left: 10vw;
    text-align: left;
  }

  .section-title {
    text-align: center;
    margin: 20px 12px 30px;
  }

  /* responsive icons */

  .responsive_icon {
    font-size: 25px;
  }

  .fa-code-branch {
    top: 90px;
    left: 280px;
  }

  .fa-cog {
    top: 70px;
    left: 120px;
  }

  .fa-star {
    top: 210px;
    right: 350px;
  }

  .fa-wrench {
    top: 140px;
    right: 50px;
  }

  .fa-code {
    top: 290px;
    right: 90px;
  }

  /* project-preview-card */

  .project-image-container {
    width: 100%;
  }

  .project-content-container {
    width: 100%;
    margin-left: 0;
  }

  .card img {
    width: auto;
    height: auto;
  }

  .skills-container {
    margin: 80px 50px 90px 20px;

    ul {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 20px;
    }
  }

  .home-project-container {
    padding: 0 0 50px;
    margin: 0;
    text-align: center;
  }

  .home-project-intro {
    width: 100vw;
    margin: 70px 0;
  }

  .home-devlog-container,
  .home-lab-container {
    padding: 0 0 50px;
  }

  .about-container {
    margin: 12px;

    .cursive-text {
      font-size: 3rem;
    }
  }

  .fixed-item {
    right: 20px;
    width: 40px;

    button {
      margin: 8px;
    }
  }
}
